@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --background-color-main: white;
    --background-color-footer: #D9D9D91F;
    --font-color: black;
    --font-color-opposite: white;
    --font-size: 30px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-heavy: 700;
    --font-family: "League Spartan";

    --prices-font-color: #F97700;
    --prices-title-bg-color: #F794002B;
    --prices-text-bg-color: #FFFAF2;
    --price-shadow: 0px 0px 40px 10px #0000000D;

    --default-space-between: 80px;

}

body {
    font-family: var(--font-family), sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-regular);
    font-style: normal;

    font-size: var(--font-size);
    color: var(--font-color);
    background: var(--background-color-main);
    margin: 0px auto;
    width: 100%;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-size: var(--font-size);
}

/* ======= Header ======= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    --header-height: 72px
}

.logo {
    width: 272px;
    height: var(--header-height);
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}

.header-menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-menu-link {
    flex: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    font-weight: var(--font-weight-light);
}


a:hover {
    text-decoration: underline;
}

/* ======= prologue ======= */

.prologue {
    background-image: url("./images/background_intro.png");
    background-color: darkolivegreen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 744px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title-image {
    width: 100%;
    max-width: 680px;
    height: 192px;
    margin-top: 32px;
}

.main-subtitle {
    color: var(--font-color-opposite);
    text-shadow: 0px 1px 4px var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight-heavy);
    margin: 0px 24px;
}



/* ======= section ======= */

.main-page {
    padding: 0px var(--default-space-between);
}

.section {
    margin: var(--default-space-between) 0px calc(var(--default-space-between) * 2) 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--default-space-between);

    --box-width: 552px;
}

.subsection {
    width: var(--box-width);
    height: var(--box-width);
}

.section-title {
    margin: calc(var(--default-space-between) * 2) 0px var(--default-space-between) 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
}

/* ======= prices ======= */
.prices-section {
    background-color: var(--prices-text-bg-color);
    box-shadow: var(--price-shadow);

    --price-border-radius: 25px;
    border-radius: var(--price-border-radius);

    gap: 0px;
}

.price-title {
    background-color: var(--prices-title-bg-color);
    color: var(--prices-font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight-heavy);
    text-transform: uppercase;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;

}

.price-title:first-of-type {
    border-radius: var(--price-border-radius) var(--price-border-radius) 0px 0px;
}

.price-text {
    text-align: center;
    padding: 16px;
}

/* ======= Contact ======= */

.contact-title {
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    display: flex;
    align-items: end;
    margin: 0;
    margin-left: -48px;
}
.contact-title-icon {
    font-size: 30px;
    margin-right: 16px;
}
.contact-title-text {
    text-decoration: underline;
}


/* ======= footer ======= */


.footer {
    height: 104px;
    background-color: var(--background-color-footer);
}