nav li
{
    display: inline;
    zoom: 1;
}

article
{
    display: inline;
    zoom: 1;
}

aside
{
    display: inline;
    zoom: 1;
}


#adresse article
{
    display: inline;
    zoom: 1;
}


#adresse div
{
    display: inline;
    zoom: 1;
}

#contact p
{
    display: inline;
    zoom: 1;
}


#photos_combegrand img
{
    display: inline;
    zoom: 1;
}


#photos_combegrand img:hover
{
    display: inline;
    zoom: 1;
}


.langues
{
    display: inline;
    zoom: 1;
}

.titre-principal
{
    display: inline;
    zoom: 1;
}

